<p>
    <strong>Title:</strong>
    <%= @book.title %>
</p>

<p>
    <strong>Publication Year:</strong>
    <%= @book.publication_date.year %>
</p>

<p>
    <strong>Pages:</strong>
    <%= @book.total_pages %>
</p>

<p>
    <strong>ISBN:</strong>
    <%= @book.isbn %>
</p>

<p>
    <strong>Summary:</strong>
    <%= @book.summary %>
</p>

<p>
    <strong>Review:</strong>
    <%= @book.review %>
</p>

<h2>Comments</h2>
<%= render @book.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', books_path %> | <%= link_to 'Edit', edit_book_path(@book) %>
